
#header .navbar-nav {
  > li > a {
    line-height: 45px;
    padding: 0 10px;

    &:hover {
      background-color: lighten(theme-color('primary'), 35%);
    }
  }
}

#header .navbar-header {
  .navbar-brand {
    font-size: 1.1rem;
    margin: 0;
    font-weight: bold;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }

  .navbar-light .navbar-brand {
    color: $dark;
  }
}

.section-icon {
  width: 1.3em;
  height: 1.3em;
  background-color: $primary;
  display: inline-block;
  margin-right: 1em;
  color: #fff;
  fill: #fff;
  @include border-radius(4px);

  svg {
    max-height: 100%;
    max-width: 100%;
    margin: 4px;
    margin-top: 0;
  }
}

.navbar-sections {
  .dropdown .dropdown-toggle {
    &::after {
      display: none;
      content: "";
      border: 0;
    }
  }

  .dropdown-item {
    overflow: hidden;
    padding-left: 10px;
  }
}

#header-toolbars {
  justify-content: end;
}