$font-family-base:                  'Open Sans', sans-serif !default;
$font-size-base:                    rem-default(12px) !default;
$font-size-sm:					            rem-default(11px) !default;
$font-size-lg:					            rem-default(14px) !default;
$line-height-base:			            1.5 !default;
$line-height-sm:				            1.4 !default;
$line-height-lg:				            1.8 !default;